<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DB_A2A2D5_GsContabilidadEntities" connectionString="metadata=res://*/BaseDatos.GS_BaseDatosModelo.csdl|res://*/BaseDatos.GS_BaseDatosModelo.ssdl|res://*/BaseDatos.GS_BaseDatosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql7001.smarterasp.net;initial catalog=DB_A2A2D5_GsContabilidad;persist security info=True;user id=DB_A2A2D5_GsContabilidad_admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>