.cartaVerde
{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}

.cartaAgregar{
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.cartaEditar{
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.dataTable > thead > tr{

    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%) !important;
}

.dataTable > thead > tr > th{

color: white !important;

}

nav.side-navbar li.active a{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}

nav.side-navbar li a:hover{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}

nav.side-navbar a{
    font-weight: 500 !important;
}



.colorBlanco
{
    color: white !important;
}

body{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%) !important;
}

/* https://webgradients.com/ */

