
@{
    ViewBag.Title = "IndexMenuInventario";
    Layout = "~/Views/Compartida/_LayoutPrincipal.cshtml";
}

<div class="col-xs-12" id="appVue">

<a class="btn btn-info" href="/Inventario/Bodega/Index">BODEGAS</a>

</div>

<script src="~/scripts/JS/Inventario/MenuInventario.js"></script>

