
@{
    ViewBag.Title = "IndexMenuInventario";
    Layout = "~/Views/Compartida/_LayoutPrincipal.cshtml";
}


<script src="~/FrontEnd/Highcharts-5.0.14/code/highcharts.js"></script>
<script src="~/FrontEnd/Highcharts-5.0.14/code/modules/exporting.js"></script>
<script src="~/FrontEnd/Highcharts-5.0.14/code/themes/grid.js"></script>

<div class="col-xs-12 col-lg-12" id="appVue">

    <div class="row">

        <div class="card col-xs-6 col-lg-4">
            <img class="card-img-top imagen-carta" src="https://www.revistagerentepyme.com/wp-content/uploads/2016/07/bodega-600x390.jpg" alt="Card image cap">
            <div class="card-block">

                <h4 class="card-title text-center">Bodegas</h4>
                <p class="card-text">Bodegas donde se almacenan los items.</p>

                <p class="text-center">

                    <a class="btn btn-info text-center" href="/Inventario/Bodega/Index"><i class="fa fa-cogs"></i> Administrar </a>

                </p>

            </div>
        </div>

        <div class="card col-xs-6 col-lg-4">
            <img class="card-img-top imagen-carta" src="https://www.debate.com.mx/__export/1464898467733/sites/debate/img/2016/06/02/medidores.jpg_594723958.jpg" alt="Card image cap">
            <div class="card-block">

                <h4 class="card-title text-center">Items</h4>
                <p class="card-text">Productos de la empresa.</p>

                <p class="text-center">

                    <a class="btn btn-danger text-center" href="/Inventario/Item/Index"><i class="fa fa-exclamation-circle"></i> Administrar </a>

                </p>

            </div>
        </div>

        <div class="card col-xs-6 col-lg-4">
            <img class="card-img-top imagen-carta" src="http://fulchis.es/wp-content/uploads/2015/06/herramientas1.jpg" alt="Card image cap">
            <div class="card-block">

                <h4 class="card-title text-center">Herramientas</h4>
                <p class="card-text">Herramientas de la empresa.</p>

                <p class="text-center">

                    <a class="btn btn-danger text-center" href="#"><i class="fa fa-exclamation-circle"></i> Proximamente . . .</a>

                </p>

            </div>
        </div>


    </div>




    <div class="row" style="display: none" >
        <div class="col-xs-12 col-lg-6" id="grafico" style="width:100%; height:200px">
           
        </div>
    </div>




</div>

<script src="~/scripts/JS/Inventario/MenuInventario.js"></script>

