
@{
    ViewBag.Title = "IndexBodega";
    Layout = "~/Views/Compartida/_LayoutPrincipal.cshtml";
}


<div class="col-xs-12" id="appVue">

    
    <tabla-gs :columnas-Gs="columnasGs" :dataJson-Gs="dataJsonGs">

    </tabla-gs>


</div>

<script src="~/scripts/JS/Inventario/Bodega.js"></script>


