
@{
    ViewBag.Title = "IndexBodega";
    Layout = "~/Views/Compartida/_LayoutPrincipal.cshtml";
}

<link href="~/FrontEnd/animate.css" rel="stylesheet" />

<link href="~/FrontEnd/CSS/Degradado.css" rel="stylesheet" />

<link href="~/FrontEnd/DataTable/jquery.dataTables.css" rel="stylesheet" />
@*<link href="~/FrontEnd/DataTable/dataTables.bootstrap.min.css" rel="stylesheet" />*@
<script src="~/FrontEnd/DataTable/jquery.dataTables.js"></script>
@*<script src="~/FrontEnd/DataTable/dataTables.bootstrap.min.js"></script>*@
<script src="~/FrontEnd/DataTable/dataTables.select.min.js"></script>

<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="appVue" style="display:none">

    <alertas-noob v-bind:estado-Alerta="estadoAlerta" v-bind:visible-Alerta="visibleAlerta"
                       v-bind:accion-Alerta="accionAlerta">

    </alertas-noob>

    @*<div class="row" style="margin-bottom:10px;">

        <div class="col-xs-12 col-lg-12">

            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <button class="btn btn-primary" 
                            v-bind:disabled="estaCreando || peticionServer"
                             v-on:click="NuevaBodega"><i class="fa fa-plus"></i> Nuevo</button>
                </div>
            </div>

        </div>

    </div>*@

    <div class="row">

        <div class="" v-bind:class="clasesCard">

            <div class="card cartaSin">
                <div class="card-header cartaVerde d-flex align-items-center">
                    <h2 class="h3 display colorBlanco">Bodegas: </h2>
                </div>
                <div class="card-block">

                    <tabla-noob v-bind:id-tabla="idTabla" 
                                v-bind:columnas-noob="columnasNoob" 
                                v-bind:data-noob="dataNoob"
                                v-bind:error-Data-Noob="errorDataNoob"
                                @@agregar="NuevoRegistroNoob"
                                @@editar="EditarRegistroNoob"
                                v-bind:esta-Creando="estaCreando"
                                 >

                    </tabla-noob>

                </div>
            </div>

        </div>


        <div class="" v-show="estaCreando" v-bind:class="[clasesCard, clasesAnimacion]">

            <div class="card cartaSin">
                <div class="card-header d-flex align-items-center" v-bind:class="clasesFormulario">
                    <h2 class="h3 display colorBlanco display" v-show="esNuevo">Agregar nueva Bodega: </h2>
                    <h2 class="h3 display colorBlanco display" v-show="esNuevo == false">Editando Bodega: </h2>
                </div>
                <div class="card-block">


                    <div class="form-group">
                        <label>Nombre: </label>
                        <input type="text" v-model="mNombre" v-bind:disabled="peticionServer" placeholder="El nombre de la bodega" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Descripciòn: </label>
                        <textarea class="form-control" v-model="mDescripcion" v-bind:disabled="peticionServer" rows="3" placeholder="La descripciòn de la bodega"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Codigo: </label>
                        <input type="text" v-model="mCodigo" v-bind:disabled="peticionServer" placeholder="Codigo de la bodega" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success pull-left" v-show="!peticionServer"
                                v-on:click="GuardarBodega"
                                v-bind:disabled="peticionServer || mNombre.length < 1 || mDescripcion.length < 1 || mCodigo.length < 1">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                        <button class="btn btn-info pull-left disabled" v-show="peticionServer"><i class="fa fa-upload"></i> Guardando . . .</button>
                        <button class="btn btn-default pull-right btn-defaultNoob" v-on:click="CerrarForm" v-bind:disabled="peticionServer"><i class="fa fa-close"></i> Cancelar</button>
                    </div>

                </div>
            </div>



        </div>



    </div>


</div>

<script src="~/scripts/JS/Inventario/Bodega.js"></script>


