
@{
    ViewBag.Title = "IndexBodega";
    Layout = "~/Views/Compartida/_LayoutPrincipal.cshtml";
}

<link href="~/FrontEnd/animate.css" rel="stylesheet" />

<link href="~/FrontEnd/CSS/Degradado.css" rel="stylesheet" />

<link href="~/FrontEnd/DataTable/jquery.dataTables.css" rel="stylesheet" />
@*<link href="~/FrontEnd/DataTable/dataTables.bootstrap.min.css" rel="stylesheet" />*@
<script src="~/FrontEnd/DataTable/jquery.dataTables.js"></script>
@*<script src="~/FrontEnd/DataTable/dataTables.bootstrap.min.js"></script>*@
<script src="~/FrontEnd/DataTable/dataTables.select.min.js"></script>

<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="appVue" style="display:none">

    <alertas-noob v-bind:estado-Alerta="estadoAlerta" v-bind:visible-Alerta="visibleAlerta"
                  v-bind:accion-Alerta="accionAlerta">

    </alertas-noob>


    <div class="row">

        <div class="" v-bind:class="clasesCard">

            <div class="card cartaSin">
                <div class="card-header cartaVerde d-flex align-items-center">
                    <h2 class="h3 display colorBlanco">Items: </h2>
                </div>
                <div class="card-block">

                    <tabla-noob v-bind:id-tabla="idTabla"
                                v-bind:columnas-noob="columnasNoob"
                                v-bind:data-noob="dataNoob"
                                v-bind:error-Data-Noob="errorDataNoob"
                                v-bind:error-Server="errorServer"
                                v-bind:peticion-Server="peticionServer"
                                v-bind:esta-Creando="estaCreando"
                                @@agregar="NuevoRegistroNoob"
                                @@editar="EditarRegistroNoob">

                    </tabla-noob>

                </div>
            </div>

        </div>


        <div class="" v-show="estaCreando" v-bind:class="[clasesCard, clasesAnimacion]">

            <div class="card cartaSin">
                <div class="card-header d-flex align-items-center" v-bind:class="clasesFormulario">
                    <h2 class="h3 display colorBlanco display" v-show="esNuevo">Agregar nuevo Item: </h2>
                    <h2 class="h3 display colorBlanco display" v-show="esNuevo == false">Editando Item: </h2>
                </div>
                <div class="card-block">




                    <div class="form-group">
                        <label>Descripciòn: </label>
                        <textarea class="form-control" v-model="mDescripcion" v-bind:disabled="peticionServer" rows="3" placeholder="La descripciòn del item"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Còdigo: </label>
                        <div class="input-group">
                            <span class="input-group-addon">Item-</span>
                            <input type="text" v-model="mCodigo" v-bind:disabled="peticionServer" placeholder="Codigo del item" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Tasa de cambio: </label>
                        <div class="input-group">
                            <span class="input-group-addon">1 Dolar </span>
                            <input type="text" v-model="tasaCambio" v-bind:disabled="true" placeholder="La tasa de cambio" class="form-control">
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Precio unitario C$: </label>
                                <div class="input-group">
                                    <span class="input-group-addon">C$</span>
                                    <input type="text" v-model="mUniCosCordo" v-bind:disabled="peticionServer" placeholder="Precio unitario en Cordoba" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Precio unitario $: </label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" v-model="mUniCosDolar" v-bind:disabled="peticionServer" placeholder="Precio unitario en Dolar" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <label>Unidades totales: </label>
                        <input type="text" v-model="mCantidadTotal" v-bind:disabled="true" placeholder="Total de unidades del item" class="form-control">
                    </div>


                    <div class="row" v-show="listaErrores.length>0" style="margin-top:10px; margin-bottom:10px;">
                        <div class="col-xs-12 col-lg-12">
                            <h4 class="h4 text-danger display" v-for="item in listaErrores">
                                <i class="fa fa-exclamation-triangle"></i>
                                {{item}}
                            </h4>
                        </div>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-success pull-left" v-show="!peticionServer"
                                v-on:click="GuardarBodega"
                                v-bind:disabled="peticionServer || mDescripcion.length < 1 || mCodigo.length < 1 || true">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                        <button class="btn btn-info pull-left disabled" v-show="peticionServer"><i class="fa fa-upload"></i> Guardando . . .</button>
                        <button class="btn btn-default pull-right btn-defaultNoob" v-on:click="CerrarForm" v-bind:disabled="peticionServer"><i class="fa fa-close"></i> Cancelar</button>
                    </div>

                </div>
            </div>



        </div>



    </div>


</div>




<script src="~/scripts/JS/Inventario/Item.js"></script>




