
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/FrontEnd/CSS/Principal.css" rel="stylesheet" />

</head>
<body>
    <div> 
        HOLA MUNDO
    </div>
</body>
</html>
